#movies .img {
    max-width: 100%;
}

#movies div.img {
    background: center / contain no-repeat url(./assets/Noimage.png);
    height: 100%;
}

#movies span {
    background: lightblue;
    opacity: 0.7;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    left: 16px;
    color: darkblue;
}