#movies img {
    max-width: 100%;
}

#movies span {
    background: lightblue;
    opacity: 0.7;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    color: darkblue;
}